name: Create lists

concurrency:
  group: allow-domains
  cancel-in-progress: false

on:
  push:
    branches: [ "main" ]
    paths:
      - .github/workflows/create-lists.yml
      - Categories/**
      - Services/**
      - src/**
      - convert.py
  schedule:
    - cron: '29 8 * * 1'

permissions:
  contents: write

jobs:
  generate-lists:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.3.0
        with:
          fetch-depth: 0

      - name: Pull latest changes
        run: |
          git config --global user.email "githubaction@githubaction.com"
          git config --global user.name "GitHub Action"
          git pull --rebase origin main

      - name: Compile ruleset srs
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/src:/app/src \
            -v ${{ github.workspace }}/Subnets:/app/Subnets \
            -v ${{ github.workspace }}/Russia:/app/Russia \
            -v ${{ github.workspace }}/Ukraine:/app/Ukraine \
            -v ${{ github.workspace }}/Categories:/app/Categories \
            -v ${{ github.workspace }}/Services:/app/Services \
            -v ${{ github.workspace }}/SRS:/app/SRS \
            -v ${{ github.workspace }}/DAT:/app/DAT \
            sentiox/compilesrs:latest

      # ===== DNSMASQ CHECKS =====
      - name: Check Russia/inside-dnsmasq-ipset
        uses: sentiox/dnsmasq-action@main
        with:
          file: "Russia/inside-dnsmasq-ipset.lst"
          version: 2.89

      - name: Check Russia/inside-dnsmasq-nfset
        uses: sentiox/dnsmasq-action@main
        with:
          file: "Russia/inside-dnsmasq-nfset.lst"
          version: 2.89

      - name: Check Russia/outside-dnsmasq-ipset
        uses: sentiox/dnsmasq-action@main
        with:
          file: "Russia/outside-dnsmasq-ipset.lst"
          version: 2.89

      - name: Check Russia/outside-dnsmasq-nfset
        uses: sentiox/dnsmasq-action@main
        with:
          file: "Russia/outside-dnsmasq-nfset.lst"
          version: 2.89

      - name: Check Ukraine/inside-dnsmasq-ipset
        uses: sentiox/dnsmasq-action@main
        with:
          file: "Ukraine/inside-dnsmasq-ipset.lst"
          version: 2.89

      - name: Check Ukraine/inside-dnsmasq-nfset
        uses: sentiox/dnsmasq-action@main
        with:
          file: "Ukraine/inside-dnsmasq-nfset.lst"
          version: 2.89

      # ===== COMMIT =====
      - name: Push lists
        uses: EndBug/add-and-commit@v9.1.4
        with:
          add: 'Russia Ukraine'
          author_name: GitHub Action
          author_email: githubaction@githubaction.com
          message: 'Update lists'
          push: true

      # ===== RELEASE =====
      - name: Set release tag
        run: echo "TAG_NAME=$(date +'%Y-%m-%d_%H-%M')" >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v2.3.2
        with:
          tag_name: ${{ env.TAG_NAME }}
          files: |
            SRS/*.srs
            DAT/*.dat
